body
{
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
}

table
{
	border-collapse: collapse;
	margin: 8px;
}

.ccol
{
	border: 1px solid #404040;
}

.heading
{
	font-size: 36px;
	font-weight: bold;
	padding: 8px;
	background-color: #404040;
	color: #C6C6C6;
	width: 100%;
	margin: 0px;
	font-family: 'Indie Flower', cursive;
	box-sizing: border-box;
	text-align: center;
	border-bottom: 1px solid #C6C6C6;
}

.secondary
{
	font-size: 24px;
	font-weight: bold;
	padding: 8px;
	background-color: #404040;
	color: #C6C6C6;
	width: 100%;
	margin: 0px;
	font-family: 'Indie Flower', cursive;
	box-sizing: border-box;
}

.page
{
	font-size: 16px;
	padding: 16px;
	background-color: #C6C6C6;
	color: #404040;
	width: 100%;
	margin: 0px;
	font-family: 'Press Start 2P', cursive;
	box-sizing: border-box;
}

#control-pane
{
	position: fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;
	height: 300px;
	border-top: 2px solid black;
	background-color: #404040;
	display: flex;
}

#code-pane
{
	height: 100%;
	border-right: 1px solid black;
	box-sizing: border-box;
	flex: 1;
}

#code
{
	display: block;
	width: 100%;
	height: 100%;
	resize: none;
	padding: 16px;
	border: 16px solid #404040;
	box-sizing: border-box;
}

#controls
{
	float: right;
	flex: 0 0 160px;
	justify-content: space-evenly;
	height: 100%;
	margin-left: 8px;
	color: #C6C6C6;
	padding: 16px;
	text-align: center;
}

#controls > p
{
	margin: 0px;
	margin-top: 4px;
}

#controls > button
{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 8px;
	border: 1px solid #404040;
}

#controls > button:hover,
#controls > button:active
{
	background-color: #404040;
	color: #C6C6C6;
	border: 1px solid white;
}

#controls > input
#controls > div
{
	width: 120px;
	box-sizing: border-box;
}

#controls > #cont-update-speed
{
	position: relative;
	float: left;
}

#controls > #cont-update-speed:after
{
	position: absolute;
	right: 10px;
	top: 0;
	content: "ms";
}
