body
{
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	font-family: 'Indie Flower', cursive;
	font-size: 12px;
}

pre
{
	font-family: 'VT323', cursive;
	font-size: 1em;
}

.inlblk
{
	display: inline-block;
}

table
{
	border-collapse: collapse;
	margin: 8px;
}

.marked
{
	background-color: #404040;
}

.ccol
{
	border: 1px solid #404040;
}

.heading
{
	font-size: 36px;
	font-weight: bold;
	padding: 8px;
	background-color: #404040;
	color: #C6C6C6;
	width: 100%;
	margin: 0px;
	font-family: 'Indie Flower', cursive;
	box-sizing: border-box;
	text-align: center;
	border-bottom: 1px solid #C6C6C6;
}

.secondary
{
	font-size: 24px;
	font-weight: bold;
	padding: 8px;
	background-color: #404040;
	color: #C6C6C6;
	width: 100%;
	margin: 0px;
	font-family: 'Indie Flower', cursive;
	box-sizing: border-box;
}

.page
{
	font-size: 2em;
	padding: 16px;
	background-color: #C6C6C6;
	color: #404040;
	width: 100%;
	margin: 0px;
	font-family: 'Open Sans Condensed', cursive;
	box-sizing: border-box;
	text-align: center;
}

#page-container
{
	width: 100%;
	max-width: 800px;
	border: 1px dashed #404040;
	padding: 32px;
	padding-top: 0px;
	box-sizing: border-box;
	display: inline-block;
	text-align: left;
}

#control-pane
{
	position: fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;
	height: 300px;
	border-top: 2px solid black;
	background-color: #404040;
	display: flex;
}

#code-pane
{
	height: 100%;
	border-right: 1px solid black;
	box-sizing: border-box;
	flex: 1;
}

#code
{
	display: block;
	width: 100%;
	height: 100%;
	resize: none;
	padding: 16px;
	border: 16px solid #404040;
	box-sizing: border-box;
	font-family: 'VT323', cursive;
}

#controls
{
	float: right;
	flex: 0 0 180px;
	justify-content: space-evenly;
	height: 100%;
	margin-left: 8px;
	color: #C6C6C6;
	padding: 16px;
	text-align: center;
}

#controls > p
{
	margin: 0px;
	margin-top: 4px;
	font-family: 'VT323', cursive;
}

button
{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 8px;
	border: 1px solid #404040;
}

button:hover,
button:active
{
	background-color: #404040;
	color: #C6C6C6;
	border: 1px solid white;
}

.btn-br-run {
	background-image: url("../img/icons/play.svg");
}

.btn-br-pause {
	background-image: url("../img/icons/pause.svg");
}

#save
{
	background-image: url("../img/icons/save.svg");
	background-size: contain;
}

#run
{
	background-size: contain;
}

#reset
{
	background-image: url("../img/icons/trash.svg");
	background-size: contain;
}

#step
{
	background-image: url("../img/icons/next.svg");
	background-size: contain;
}

#share
{
	background-image: url("../img/icons/share.svg");
	background-size: contain;
}

#controls > input
#controls > div
{
	width: 120px;
	box-sizing: border-box;
}

#controls > #cont-update-speed
{
	position: relative;
	float: left;
}

#controls > #cont-update-speed:after
{
	position: absolute;
	right: 10px;
	top: 0;
	content: "ms";
}

.hidden
{
	display: none !important;
}

#fullscreen-btn
{
	position: fixed;
	top: 8px;
	right: 48px;
	background-size: contain;
}

.fullscreen
{
	background-image: url("../img/icons/fullscreen.svg");
}

.exit-fullscreen
{
	background-image: url("../img/icons/exit_fullscreen.svg");
}

#code-btn
{
	position: fixed;
	top: 8px;
	right: 8px;
	background-size: contain;
	background-image: url("../img/icons/code.svg");
}

#ben-amor
{
	position: fixed;
	right: 88px;
	top: 8px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../img/icons/ben.png");
	background-position: 50% 50%;
}

::-webkit-scrollbar
{
	width: 24px;
	background-color: gray;
	border-left: 1px dashed black;
}

::-webkit-scrollbar-thumb
{
	background-color: #C6C6C6;
	border: 1px solid black;
	background-image: url("../img/icons/ben.png");
	background-size: contain;
}
